<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/14ce2091-c242-4a77-9c93-3cf8c7486e9f/resourceGroups/333Sites/providers/Microsoft.Web/sites/sp22RamirezMackenzieHW4</ResourceId>
    <ResourceGroup>333Sites</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://sp22ramirezmackenziehw4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sp22ramirezmackenziehw4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sp22RamirezMackenzieHW4</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sp22RamirezMackenzieHW4</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>